@import "../../_styles/utilities/all";

.DownloadButton {
  @include border-style;
  background-color: transparent;
  color: $off-white;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
  svg {
    margin: rem-calc(4px);
    width: rem-calc($x-large);
    height: rem-calc($x-large);
  }
}
